<!DOCTYPE html>
<html>
<head>
  <title>MovieQueue</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header>
       <div class="row">
          <div class="col-md-8">
            <h3>Personal Movie Queue</h3>
          </div>
          <div class="col-md-4">
           <nav>
             <% if @current_user.nil? %>
               <a class="btn btn-default" href="/users/register" role="button">Register</a>
             <% else %>
               <a class="btn btn-default" href="/" role="button">Movie List</a>
               <a class="btn btn-default" href="/movies/new" role="button">Add a Movie</a>
               <a class="btn btn-default" href="/users/logout" role="button">Logout</a>
             <% end %>
           </nav>
         </div>
       </div>
    </header>
    <div class="row">
      <div class="col-md-12">

            <%= yield %>
      </div>
    </div>
    <footer>
      <h4>&copy;2015 David Hayes</h4>

    </footer>
  </div>
</body>
</html>
